<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/estilos.css" />
    <title>Salve !</title>
</head>

<body>
    <ul class="navbar">
        <!-- criando a navbar dentro do body-->
        <li class="navbar-li"><a class="text" href="/projetos">PROJETOS</a></li>
        <li class="navbar-li"><a class="text" href="/">SOBRE</a></li>
    </ul>